<!doctype html>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Zilla+Slab" rel="stylesheet">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<title>{% block title %}News{% endblock %} — boardgamejock</title>
<body>
  <div class="body-content">

    <header>
      <div class="logo">
        <a href="/"><img src="/logo.png" alt="BoardGameJock"></a>
      </div>
      <div class="site-title"><a href="/">BoardGameJock</a></div>
      <div class="navbar-container">
        {# News header link is "active" if we're on the root page. #}
        <div class="navbar-item">
          <a href="/" {% if this._path == '/' %} class="active" {% endif %}>News</a>
        </div>
        {# Other header links are active if we're on a child page of their heading. #}
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/about', 'About']
          ] %}
          <div class="navbar-item">
            <a href="{{ href|url }}" {% if this.is_child_of(href) %} class="active" {% endif %} >
              {{ title }}
            </a>
          </div>
        {% endfor %}
      </div>
    </header>

    <div id="content-and-sidebar">

      <div id="page-content">
        {% block body %}{% endblock %}
      </div>

      <div id="right-sidebar">
        <div class="sidebar-title">Recent Games</div>
        <div id="recent-games">
          <div id="recent-games-scrollarea">
            <div id="recent-games-loading" class="recent-games-loading">
              <div class="recent-games-entry">
                <div class="recent-games-entry-loading-line"></div>
                <div class="recent-games-entry-loading-line"></div>
                <div class="recent-games-entry-loading-picture"></div>
                <div class="recent-games-entry-loading-line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <footer>
      &copy; Copyright 2018 by Will Frank.
    </footer>

  </div>
</body>

<!-- Put the script at the end of the page so execution doesn't begin until the --
  -- dom has been parsed. This was suggested when using async to be a --
  -- cross-browser compatible way of waiting for the dom to load. -->
<script src="{{ '/static/recent_games.js'|url }}"></script>
