<!doctype html>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Zilla+Slab" rel="stylesheet">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<title>{% block title %}News{% endblock %} — boardgamejock</title>
<body>
  <div class="page-container">

    <header>
      <div class="logo">
        <a href="/"><img src="/logo.png" alt="BoardGameJock"></a>
      </div>
      <div class="site-title"><a href="/">BoardGameJock</a></div>
      <div class="navbar-container">

        {# News header link is "active" if we're on the root page. #}
        <div class="menu-item">
          <a href="/" {% if this._path == '/' %} class="active" {% endif %}>News</a>
        </div>

        {# Other header links are active if we're on a child page of their heading. #}
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/about', 'About']
          ] %}
          <div class="menu-item">
            <a href="{{ href|url }}" {% if this.is_child_of(href) %} class="active" {% endif %} >
              {{ title }}
            </a>
          </div>
        {% endfor %}
      </div>
    </header>

    <div class="page">
      {% block body %}{% endblock %}
    </div>

    <footer>
      &copy; Copyright 2018 by Will Frank.
    </footer>

  </div>
</body>
