body {
    margin: 50px 25px;
    font-family: 'Zilla Slab', cursive;
}

.page-container {
    width: 760px;
    margin: 0 auto;
}

header {
    height: 4.5rem;
}

header, footer {
    background: #daeef3;
    padding: 20px 20px;
}

/* Logo Image */
.logo img {
    width: 4rem;
    height: 4rem;
    float: left;
    margin-right: 20px;
}

/*Main site title*/
.site-title {
    color: #169bbd;
    font-size: 40px;
    font-family: 'Zilla Slab', cursive;
}

/*Per-page title.*/
.page-title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Zilla Slab', cursive;
}

/*Main page content.*/
div.page {
    background: #f1fbfe;
    overflow: auto;
    padding: 25px;
    line-height: 1.6;
    font-size: 13pt;
}

/* Images inside of page bodies.*/
div.page img {
    max-width: 35%;
    margin-right: 25px;
    float: left;
    display: block;
}

.menu-item {
    display: inline;
    margin: 0 8px 0 0;
    padding 0;
    font-size: 1.4rem;
}

.active {
    font-weight: bold;
}

.pagination {
    clear: both;
    padding-top: 20px;
}

a {
    color: #2a99b6;
    text-decoration: none;
}

a:hover {
    color: #33bbdf;
}
