body {
    margin: 50px;
    font-family: 'Zilla Slab', cursive;
}

.body-content {
    width: 1060px;
    margin: auto;
}

header {
    height: 4.5rem;
}

header, footer {
    background: #daeef3;
    padding: 20px 20px;
}

/* Logo Image */
.logo img {
    width: 4rem;
    height: 4rem;
    float: left;
    margin-right: 20px;
}

/*Main site title*/
.site-title {
    color: #169bbd;
    font-size: 40px;
    font-family: 'Zilla Slab', cursive;
}

/*Per-page title.*/
.page-title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Zilla Slab', cursive;
}

.sidebar-title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Zilla Slab', cursive;
}

div.content-and-sidebar {
    background: #f1fbfe;
    border: 2px solid black;
    display: flex;
    min-height: 500px;
}

/*Main page content.*/
div.page-content {
    font-size: 13pt;
    line-height: 1.6;
    padding: 20px;
    width: 75%;
    text-align: justify;
}

div.right-sidebar {
    width: 25%;
    outline: 2px solid black;
    padding: 20px;
    overflow-y: scroll;
}

#recent-games {
    text-align: center;
    background: #f1fbfe;
}

.recent-games-entry {
    border-bottom: 6px solid #daeef3;
}

/* Images inside of page bodies.*/
div.page-content img {
    max-width: 35%;
    margin-right: 25px;
    float: left;
    display: block;
}

.navbar-item {
    display: inline;
    margin: 0 8px 0 0;
    padding 0;
    font-size: 1.4rem;
}

.active {
    font-weight: bold;
}

.pagination {
    clear: both;
    padding-top: 20px;
}

.blog-post {
    padding-top: 20px;
    clear: both;
}

a {
    color: #2a99b6;
    text-decoration: none;
}

a:hover {
    color: #33bbdf;
}
